<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us-US">
<head>
    <title>Album</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}" href="#">Gallery</a>

        <div class="navbar-nav me-auto">
        </div>
        <a th:href="@{/logout}" class="btn btn-outline-danger">Logout</a>
    </div>
</nav>

<div class="container mt-4">

    <div th:if="${pageCount == 0}">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1> No image in this album. </h1>
            </div>
        </div>
    </div>

    <div th:if="${pageCount > 0}" class="row justify-content-around gy-3">
        <div th:each="image : ${images}" class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
                <h3 th:text="${image.title}" class="card-header">Image Title</h3>
                <div class="card-body">
                    <h5 th:text="${image.description}" class="card-title">Image Description</h5>
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <a th:href="@{/image?imagePk={imageId}(imageId=${image.imagePk})}">
                                <img th:src="@{/imageraw?imageId={imageId}(imageId=${image.imagePK})}"
                                     th:alt="${image.title}"
                                     src="../../../../docs/db_imgs/3.jpg"
                                     alt="Image"
                                     class="img-thumbnail"
                                     style="height: 200px;"
                                >
                            </a>
                        </div>
                    </div>
                </div>
                <div th:text="${image.date}" class="card-footer text-muted">
                    Date
                </div>
            </div>
        </div>
    </div>

    <ul th:if="${pageCount > 0}"
        class="pagination justify-content-center mt-3"
    >
        <li th:classappend="${currentPage == 0} ? disabled" class="page-item">
            <a class="page-link" th:href="@{/album?albumPk=} + ${albumPk} + '&page=' + ${currentPage - 1}" href="#">
                Previous
            </a>
        </li>
        <li th:each="pageIt : ${pageIterator}"
            th:classappend="${pageIt == currentPage} ? active"
            class="page-item"
        >
            <a
                    th:href="@{/album?albumPk=} + ${albumPk} + '&page=' + ${pageIt}"
                    th:text="${pageIt + 1}"
                    class="page-link" href="#"
            >
                123
            </a>
        </li>
        <li th:classappend="${currentPage == pageCount - 1} ? disabled" class="page-item">
            <a class="page-link" th:href="@{/album?albumPk=} + ${albumPk} + '&page=' + ${currentPage + 1}" href="#">
                Next
            </a>
        </li>
    </ul>
</div>


</body>
</html>