<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us-US">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Home Page</h1>

<a th:href="@{/logout}">Logout</a>

<span th:text="${userAlbums}">User Albums</span>
<span th:text="${otherUsersAlbums}">Other Users Albums</span>

<h3>Your Albums:</h3>

<div th:each="album : ${userAlbums}">
    <a th:text="${album.title}" th:href="@{/album?albumPk={albumId}(albumId=${album.albumPk})}">Title</a>
    <div th:text="${album.date}">Date</div>
    <div th:text="${album.userFk}">UserFk</div>
</div>

<h3>Other Users Albums:</h3>

<div th:each="album : ${otherUsersAlbums}">
    <a th:text="${album.title}" th:href="@{/album?albumPk={albumId}(albumId=${album.albumPk})}">Title</a>
    <div th:text="${album.date}">Date</div>
    <div th:text="${album.userFk}">UserFk</div>
</div>

</body>
</html>