<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us-US">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Image Page</h1>

<a th:href="@{/logout}">Logout</a>

<img th:src="@{/imageraw?imageId={imageId}(imageId=${image.imagePK})}" th:alt="${image.title}">

<div th:each="comment : ${comments}">
    <div th:text="${comment.username}">Username</div>
    <div th:text="${comment.text}">Text</div>
</div>

<form method="post" th:action="@{/comment}">
    <input type="text" placeholder="Comment Body" name="text"/>
    <input type="hidden" name="imagePk" th:value="${image.imagePK}"/>
    <input type="submit"/>
</form>

</body>
</html>