<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="us-US">
<head>
    <title th:text="${image.title}">Image</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}" href="#">Gallery</a>

        <div class="navbar-nav me-auto">
        </div>
        <a th:href="@{/logout}" class="btn btn-outline-danger">Logout</a>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-auto">
            <div class="card">
                <h3 th:text="${image.title}" class="card-header" style="text-align: center;">Image Title</h3>
                <div class="card-body">
                    <h5 th:text="${image.description}" class="card-title text-muted" style="text-align: center;">Image
                        Description
                    </h5>
                    <div class="row justify-content-center mt-3">
                        <img th:src="@{/imageraw?imageId={imageId}(imageId=${image.imagePK})}"
                             th:alt="${image.title}"
                             src="../../../../docs/db_imgs/3.jpg"
                             alt="Image"
                             class="col-auto"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr/>

    <h3>Comments:</h3>

    <form method="post" th:action="@{/comment}" class="mb-4">
        <fieldset>
            <div class="form-group">
                <input type="text" class="form-control" id="comment" aria-describedby="comment"
                       placeholder="Write your comment" name="text" required>
                <input type="hidden" name="imagePk" th:value="${image.imagePK}"/>

                <div class="d-grid gap-2 mt-4">
                    <button class="btn btn-primary" type="submit">Send</button>
                </div>
            </div>
        </fieldset>
    </form>

    <div
            th:each="comment : ${comments}"
            class="row justify-content-center mb-3"
    >
        <div class="col">

            <div class="card">
                <h4 th:text="${comment.username}" class="card-header">Username</h4>
                <div
                        class="card-body"
                >
                    <p th:text="${comment.text}">Text</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>